@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-white min-h-screen antialiased;
}

a {
  @apply text-accent hover:text-white transition-colors;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: theme('colors.accent.DEFAULT');
  border-radius: 4px;
}
